:root {
  --main-verde-color: #007b88;
  --main-azul-color: #0d1a9d;
  --main-rosa-color: #efdbd4;
  --main-blanco-color: white;
}
body{
    color: var(--main-verde-color);
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    display: block;
}
.arizonia-regular {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
  }
  
h2{
    font-size: 2.5em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    color: var(--main-azul-color);
    padding-bottom: 2%;
}
h3{
    font-style: italic;
    font-size: 1.5em;
}
h5{
    color: var(--main-azul-color);
    font-size: 1.2em;
}
p, ol li{
    color: var(--main-verde-color);
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.1em;
}
.sobreescribir-fila{
    display: contents !important;
}
.fondo-menu{
    background-color: var(--main-verde-color);
}
.dropdown-menu, .btn-secondary, .dropdown-menu:hover, .btn-secondary:hover, .dropdown-item:hover{
    background-color: var(--main-verde-color);
    border-color: var(--main-verde-color);
    color: var(--main-blanco-color);
}
/* .owl-carousel .owl-item img {
    width: 60% !important;
} */
/*inicio animacion menu*/
.ul-principal a {
    color: var(--main-blanco-color);
    position: relative;
    font-size: 1.1em;
    font-weight: 400 !important;
}

.ul-principal a::before {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: linear-gradient(to right, #ffffff, #14d2e0 , #ffffff);
  transition: all .4s;
  left: 50%;
}
.ul-principal a:hover::before {
  width: 100%;
  left:0;
}
.activo{
    text-align:center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #ffffff, #14d2e0 , #ffffff);
    border-image-slice: 1;
    width:100%;
}
#menu-sup .nav-link.active {
    text-align:center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #ffffff, #14d2e0 , #ffffff);
    border-image-slice: 1;
    width:100%;
}
.icono-logo{
    width: 100px;
    height: auto;
}
.blanco{
    color: #ffffff;
}
.cursiva{
    font-style: italic;
}
.normal{
    font-weight: 400;
}
.semi-bold{
    font-weight: 500;
}
.negrita {
    font-weight: bold;
}
.cursiva-negrita{
    font-weight: 600;
    font-style: italic;
}
.usd{
    font-size: 0.7em;
    font-weight: 400;
}
/************************BRILLARTE*********************/

.inversion-curso{
    color: var(--main-azul-color);
    font-size: 1.5em;
    font-weight: bold;
}
#final-precio h3{
    line-height:1.1;
}
/**********************QUIEN SOY***********************/
#quien-soy, #brillarte {
    padding-top: 8% !important;
}
#quien-soy h3{
    font-style: italic;
    font-size: 1.5em;
    padding-top: 1%;
    padding-bottom: 2%;
}
#quien-soy h4{
    font-weight: bold;
    font-size: 4em;
    color: var(--main-azul-color);
}
#quien-soy h6{
    font-weight: 300;
    font-size: 1em;
}
div.enlace {
    display: block;
    text-align: right;
}
div.enlace a {
    color: var(--main-blanco-color);
    background-color: var(--main-azul-color);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1em;
}
div.enlace a:hover {
    background-color: var(--main-verde-color);
}
/**********************PRODUCTOS DIGITALES****************/
.carousel-item{
    padding: 15px;
    cursor: -webkit-grabbing;
     
     & img{
       border-radius: 30px;
       height: 500px;
       
       box-shadow: 0px 5px 5px rgba(0,0,0,.21);
     transition: .25s linear;  
     }
     
     &:hover{
       & img{
         transform: translatey(-1%);
       }
     }
   }
   
   .carousel-indicators li{
       display: inline-block;
       width: 10px;
       height: 10px;
       margin: 1px;
       text-indent: -999px;
       cursor: pointer;
       background-color: #000 \9;
       background-color: rgba(0,0,0,0);
       border: 1px solid var(--main-azul-color);
       border-radius: 10px;
       margin: 2px;
       position: relative;
       top: 30px;
     &.active{
       background: var(--main-azul-color);
       
     }
   }
   @media only screen and (max-width: 650px)
   {
     .carousel-item img{
       height: auto;
     }
   }
    .carousel-control-prev{
     left: -50px;
     /* margin: 0 -25px; */
     opacity: 1;
   }

   .carousel-control-next{
     right: -50px;
     /* margin: 0 -25px; */
     opacity: 1;
   }
   .icono-pago{
    width: 70% !important;
}
/******************SERVICIOS*************************/
#servicios h3{
    font-style: normal;
    font-size: 1.7em;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 10%;
    padding-bottom: 3%;
    color:  var(--main-azul-color);
}
#servicios p{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.1em;
}
.icono-servicio{
    text-align: center;
    margin: auto;
}
.cuatrocientos{
    font-weight: 400;
}
.lottie {
    height: 125px;
    width: auto;
}
#productos-digitales, #portafolio, #contactame, #esto-es-para-ti, #que-aprenderas, #bono, #final-precio{
    background: rgba(239, 219,212, 0.3);
}
/*********************PORTAFOLIO*********************/
#portafolio h6 {
    font-size: 1.4em;
    font-weight: 300;
    text-align: left;
}
.zoom {
  transition: transform .2s; /* Animation */
  z-index: 2;
}
.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  cursor: pointer;
  z-index: 1;
}
/******************TESTIMONIOS*********************/
#testimonios h3{
    font-style: normal;
    font-size: 2.5em;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--main-azul-color);
    font-style: italic;
}
.owl-carousel .owl-item img {
    width: 90%;
    display: block;
}
textarea {
    resize: none;
}
.text-danger {
  color: #dc3545 !important;
}
/***********************CONOCEME************************/
.conoceme{
    padding-top: 8% !important;
}
.conoceme h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    color: var(--main-azul-color);
}
.nav-tabs{
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--main-verde-color);
}
.nav-link{
    color: var(--main-verde-color);
    border-top: var(--bs-nav-tabs-border-width) solid var(--main-verde-color);
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius);
    font-weight: 400;
}
.nav-link:hover {
    cursor: pointer;
    color:var(--main-blanco-color);
    background-color: var(--main-verde-color);
}
/******************PAGINA IDENTIDAD VISUAL**********************/
.diseno-logos{
    padding-top: 8% !important;
}
.diseno-logos h1{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: var(--main-azul-color);
    padding-bottom: 3%;
}
.accordion-button:not(.collapsed){
    background-color: var(--main-verde-color);
    color: var(--main-blanco-color);
}
.accordion-button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9em;
    color: var(--main-blanco-color);
    font-style: italic;
    background: var(--main-verde-color);
}
.accordion-button.collapsed::after, .accordion-button.collapsed::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed)::after, .accordion-button:not(.collapsed)::before{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");    
}
.fondo-rosa{
    background: rgba(239, 219, 212, 0.4);
    border:0;
}
.card-title{
    color:var(--main-verde-color); ;
}
.enlace h4{
    color: var(--main-azul-color);
    font-size: 1.5em;
}
.disenemos-juntas{
    color: var(--main-verde-color);
    font-size: 20px !important;
    font-weight: 400;
    text-align: center;
}
.titulo-logo{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    color: var(--main-azul-color);

    /* font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300; */
}
.titulo-logo-amita{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    color: var(--main-azul-color);
}
.grosor{
    font-weight: 400;

}
.incluye{
    font-weight: 500;
}
.icono-caracol ul{
    color: var(--main-verde-color);
    list-style-image: url('../img/servicios/icono-caracol.png') !important;
}
.icono-caracol ul li, .icono-caracol ul p{
    font-size: 1.1em;
}
.usd{
    font-size: 0.7em;
}
.obsequio{
    font-weight: 400;
    padding-top: 5px;
}
.obsequio img{
    padding-bottom: 5px;
    padding-right: 5px;
}
.parrafo-web p {
    color: var(--main-verde-color);
    font-size: 1.1em;
}
.azul{
    color: var(--main-azul-color);
}
.fondo-empieza-ya{
    background: url("../img/servicios/2-Logo-Empieza-Ya-Precio.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.enlace-social-media p.frase{
    color: var(--main-verde-color);
    font-size: 1.2em !important;
    font-weight: 300;
    text-align: center;
}
h2.titulo-plantillas{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    color: var(--main-verde-color);
}
h3.titulo-plantillas{
    font-size: 2em;
    color: var(--main-verde-color);
}
.enlaces-canva a{
    color: var(--main-verde-color);
    font-size: 1.2em !important;
    font-weight: 400;   
    text-decoration: none;
}
#contactame img {
        width: 75% !important;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn.btn-primary {
    color: #ffffff;
    background-color: var(--main-azul-color);
    border-color: var(--main-azul-color);
    font-size: 1.1em;
}
.btn.btn-primary:hover {
    background-color: var(--main-verde-color);
    border-color: var(--main-verde-color);
}
.back-to-top {
    background-color: var(--main-verde-color);
    border-color: var(--main-verde-color);
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
}
a.back-to-top:hover {
    background-color: var(--main-azul-color);
    border-color: var(--main-azul-color);
}
.fondo-footer{
    background: var(--main-verde-color);
}
.fondo-footer p{
    font-size: 1em;
    text-align: left;
}
.iconos-footer{
    text-align: right;
}
.iconos-footer a{
    font-size: 1.2em;
}
.imagen-plantilla{
    width: 80%;
}
.enlace-ejemplo {
    color: var(--main-azul-color);
    /* text-decoration: none; */
    font-weight: 400;
    font-size: 1.1em;
}

/************************* PAGINACION *********************/
.page-link{
    background-color: var(--main-azul-color);
    color:var(--main-blanco-color);
}
.page-link:hover, .pagina-seleccionada, .page-link:focus {
    background-color: var(--main-verde-color);
    color:var(--main-blanco-color);
}


/************************* MEDIA QUERY ********************/

@media(max-width: 1200px){
    #quien-soy, .diseno-logos, .conoceme, #brillarte {
        padding-top: 10% !important;
    }
    h2{
        font-size: 2em;
    }
    #quien-soy h3 {
        font-size: 1.4em;
    }
    p, #servicios p {
        font-size: 1.1em;
    }
    #quien-soy h4 {
        font-size: 3.5em;
    }
    #servicios h3 {
        font-size: 1.5em;
    }
    .ul-principal a {
        font-size: 0.9em;
    }
    .diseno-logos h3{
        font-size: 1.2em;
    }

}

@media(max-width: 992px){
    .sobreescribir-fila {
        display: inline;
    }
    #quien-soy, .diseno-logos , .conoceme, #brillarte{
        padding-top: 11% !important;
    }
    #quien-soy h3 {
        font-size: 1.3em;
    }
    p, #servicios p {
        font-size: 1.1em;
    }
    #quien-soy h4 {
        font-size: 2.5em;
    }
    #servicios h3 {
        font-size: 1.4em;
        text-align: center;
    }
    .ul-principal a {
        font-size: 0.7em;
    }
    .diseno-logos h1 {
        font-size: 2.5em;
    }
}
@media(max-width: 768px){
    .sobreescribir-fila {
        display: inline;
    }
    #quien-soy, .diseno-logos, .conoceme {
        padding-top: 12% !important;
    }
    #brillarte{
        padding-top: 20% !important;
    }
    #quien-soy h3 {
        font-size: 1.3em;
    }
    p, #servicios p {
        font-size: 1.1em;
    }
    #quien-soy h4 {
        font-size: 2.5em;
    }
    .ul-principal a {
        font-size: 0.6em;
    }
    #quien-soy img, #productos-digitales img, #plantillas img, .foto, #brillarte img{
        width: 70% !important;
    }
    .diseno-logos h3 {
        font-size: 1.1em;
    }
   
}
@media (max-width: 576px){
    #quien-soy, .diseno-logos, .conoceme {
        padding-top: 20% !important;
    }
    #brillarte{
        padding-top: 35% !important;
    }

    #quien-soy h3 {
        font-size: 1.3em;
    }
    p, #servicios p {
        font-size: 1.1em;
    }
    #quien-soy h4 {
        font-size: 2em;
    }
    #quien-soy h6 {
        font-size: 0.8em;
    }
    .owl-carousel .owl-item img {
        width: 40%;
        display: inline;
    }
    #testimonios h3 {
        text-align: center;
        font-size: 1.8em;
        line-height: 1.5em;
    }
    .texto-testimonios{
        text-align: center;
    }
    #quien-soy img, #productos-digitales img, #plantillas img, #brillarte img {
        width: 70% !important;
    }
    #testimonios img.yo-testimonio {
        display: none;
    }
    div.enlace a {
        font-size: 1em;
    }
    #portafolio h6 {
        font-size: 1.1em;
    }
    .diseno-logos h1 {
        font-size: 2em;
    }
    .inversion{
        text-align: right;
    }
    .brillo{
        width: 19px;
    }
    h2.titulo-plantillas{
        font-size: 1.2em;
        color: var(--main-verde-color);
    }
    h3.titulo-plantillas{
        font-size: 1.4em;
        color: var(--main-verde-color);
    }
    .diseno-logos h3 {
        font-size: 1.3em;
    }
    .fondo-footer p{
        font-size: 1.1em;
        text-align: center;
    }
    .iconos-footer{
        text-align: center;
    }
    .icono-pago{
        width: 30% !important;
    }
    .separacion{
        margin-top: 10px;
    }

}